<div class="flex justify-end pr-16">
    <button class="boton3">
        Buscar
    </button>
</div>

<div class="flex flex-col items-center bg-gray-100 py-20">

    <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px] mb-4">
      <div class="flex items-center justify-between space-x-4">
        
        
        <div class="flex-shrink-0">
          <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-16 h-16 object-cover rounded-full">
        </div>
  
        
        <div class="flex-1 relative left-[70px]">
          <p><strong>ID:</strong> 123</p>
          <p><strong>Nombre:</strong> user</p>
          <p><strong>Apellido:</strong> nose</p>
          <p><strong>Teléfono:</strong> 123456789</p>
          <p><strong>Correo:</strong> userarroba.com</p>
        </div>
  
        
        <div class="flex flex-col space-y-5">
          <button class="boton1">Motivo de derivación</button>
          <button class="boton2">Respuesta del tutor</button>
        </div>
  
      </div>
    </div>
  
    
    <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px] mb-4">
      <div class="flex items-center justify-between space-x-4">
        
        <div class="flex-shrink-0">
            <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-16 h-16 object-cover rounded-full">
          </div>
    
          
          <div class="flex-1 relative left-[70px]">
            <p><strong>ID:</strong> 123</p>
            <p><strong>Nombre:</strong> user</p>
            <p><strong>Apellido:</strong> nose</p>
            <p><strong>Teléfono:</strong> 123456789</p>
            <p><strong>Correo:</strong> userarroba.com</p>
          </div>
    
          
          <div class="flex flex-col space-y-5">
            <button class="boton1">Motivo de derivación</button>
            <button class="boton2">Respuesta del tutor</button>
          </div>
      </div>
    </div>
  
    
    <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
      <div class="flex items-center justify-between space-x-4">
        
        <div class="flex-shrink-0">
            <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-16 h-16 object-cover rounded-full">
          </div>
    
          <div class="flex-1 relative left-[70px]">
            <p><strong>ID:</strong> 123</p>
            <p><strong>Nombre:</strong> user</p>
            <p><strong>Apellido:</strong> nose</p>
            <p><strong>Teléfono:</strong> 123456789</p>
            <p><strong>Correo:</strong> userarroba.com</p>
          </div>
    
          <div class="flex flex-col space-y-5">
            <button class="boton1">Motivo de derivación</button>
            <button class="boton2">Respuesta del tutor</button>
          </div>
      </div>
    </div>
  
  </div>