<div class="flex justify-between items-center px-16 py-4">
  <div class="text-2xl font-bold relative top-6">
    Lista de derivaciones:
  </div>
  <button class="boton3">
    Buscar
  </button>
</div>

<div class="flex flex-wrap justify-center bg-gray-100 py-12 gap-6">

  <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
    <div class="flex items-center justify-between space-x-4">
      <div class="flex-shrink-0">
        <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
      </div>
      <div class="flex-1 relative left-[50px]">
        <p><strong>ID:</strong> 123</p>
        <p><strong>Nombre:</strong> user</p>
        <p><strong>Apellido:</strong> nose</p>
        <p><strong>Teléfono:</strong> 123456789</p>
        <p><strong>Correo:</strong> userarroba.com</p>
        <p><strong>Curso:</strong> Administracion de empresa</p>
      </div>
      <div class="flex flex-col space-y-5">
        <button class="boton1">Motivo de derivación</button>
        <button class="boton2">Respuesta del tutor</button>
      </div>
    </div>
  </div>



  <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
    <div class="flex items-center justify-between space-x-4">
      <div class="flex-shrink-0">
        <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
      </div>
      <div class="flex-1 relative left-[50px]">
        <p><strong>ID:</strong> 123</p>
        <p><strong>Nombre:</strong> user</p>
        <p><strong>Apellido:</strong> nose</p>
        <p><strong>Teléfono:</strong> 123456789</p>
        <p><strong>Correo:</strong> userarroba.com</p>
      </div>
      <div class="flex flex-col space-y-5">
        <button class="boton1">Motivo de derivación</button>
        <button class="boton2">Respuesta del tutor</button>
      </div>
    </div>
  </div>



  <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
    <div class="flex items-center justify-between space-x-4">
      <div class="flex-shrink-0">
        <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
      </div>
      <div class="flex-1 relative left-[50px]">
        <p><strong>ID:</strong> 123</p>
        <p><strong>Nombre:</strong> user</p>
        <p><strong>Apellido:</strong> nose</p>
        <p><strong>Teléfono:</strong> 123456789</p>
        <p><strong>Correo:</strong> userarroba.com</p>
      </div>
      <div class="flex flex-col space-y-5">
        <button class="boton1">Motivo de derivación</button>
        <button class="boton2">Respuesta del tutor</button>
      </div>
    </div>
  </div>



  <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
    <div class="flex items-center justify-between space-x-4">
      <div class="flex-shrink-0">
        <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
      </div>
      <div class="flex-1 relative left-[50px]">
        <p><strong>ID:</strong> 123</p>
        <p><strong>Nombre:</strong> user</p>
        <p><strong>Apellido:</strong> nose</p>
        <p><strong>Teléfono:</strong> 123456789</p>
        <p><strong>Correo:</strong> userarroba.com</p>
      </div>
      <div class="flex flex-col space-y-5">
        <button class="boton1">Motivo de derivación</button>
        <button class="boton2">Respuesta del tutor</button>
      </div>
    </div>
  </div>



  <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
    <div class="flex items-center justify-between space-x-4">
      <div class="flex-shrink-0">
        <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
      </div>
      <div class="flex-1 relative left-[50px]">
        <p><strong>ID:</strong> 123</p>
        <p><strong>Nombre:</strong> user</p>
        <p><strong>Apellido:</strong> nose</p>
        <p><strong>Teléfono:</strong> 123456789</p>
        <p><strong>Correo:</strong> userarroba.com</p>
      </div>
      <div class="flex flex-col space-y-5">
        <button class="boton1">Motivo de derivación</button>
        <button class="boton2">Respuesta del tutor</button>
      </div>
    </div>
  </div>



  <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
    <div class="flex items-center justify-between space-x-4">
      <div class="flex-shrink-0">
        <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
      </div>
      <div class="flex-1 relative left-[50px]">
        <p><strong>ID:</strong> 123</p>
        <p><strong>Nombre:</strong> user</p>
        <p><strong>Apellido:</strong> nose</p>
        <p><strong>Teléfono:</strong> 123456789</p>
        <p><strong>Correo:</strong> userarroba.com</p>
      </div>
      <div class="flex flex-col space-y-5">
        <button class="boton1">Motivo de derivación</button>
        <button class="boton2">Respuesta del tutor</button>
      </div>
    </div>
  </div>



  <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
    <div class="flex items-center justify-between space-x-4">
      <div class="flex-shrink-0">
        <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
      </div>
      <div class="flex-1 relative left-[50px]">
        <p><strong>ID:</strong> 123</p>
        <p><strong>Nombre:</strong> user</p>
        <p><strong>Apellido:</strong> nose</p>
        <p><strong>Teléfono:</strong> 123456789</p>
        <p><strong>Correo:</strong> userarroba.com</p>
      </div>
      <div class="flex flex-col space-y-5">
        <button class="boton1">Motivo de derivación</button>
        <button class="boton2">Respuesta del tutor</button>
      </div>
    </div>
  </div>



  <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
    <div class="flex items-center justify-between space-x-4">
      <div class="flex-shrink-0">
        <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
      </div>
      <div class="flex-1 relative left-[50px]">
        <p><strong>ID:</strong> 123</p>
        <p><strong>Nombre:</strong> user</p>
        <p><strong>Apellido:</strong> nose</p>
        <p><strong>Teléfono:</strong> 123456789</p>
        <p><strong>Correo:</strong> userarroba.com</p>
      </div>
      <div class="flex flex-col space-y-5">
        <button class="boton1">Motivo de derivación</button>
        <button class="boton2">Respuesta del tutor</button>
      </div>
    </div>
  </div>
</div>