<header class="bg-blue-800 backdrop-blur-md fixed w-full top-0 z-50 shadow-lg shadow-purple-900/20">

    <nav class="container mx-auto px-6 py-3" aria-label="Main navigation">
      <div class="flex items-center justify-between">
        <!-- Logo con animación flotante -->
        <div class="flex items-center space-x-3">
          <div class="w-10 h-10 bg-white rounded-full float-animation flex items-center justify-center">
            <img src="https://res.cloudinary.com/dsadfgmfn/image/upload/v1745594668/senati_eausio.png" class="h-7 w-7" alt="" />
            <!-- <i class="fas fa-rocket text-white text-lg"></i> -->
          </div>
          <span class="text-2xl font-bold text-white">
            <span class="gradient-text">SENATI</span>
          </span>
        </div>
  
        <!-- Navigation Links con iconos -->
        <div class="hidden md:flex items-center space-x-8">
          @for (link of navLinks; track $index) { @if (role &&
          link.roles.includes(role)) {
          <a
            [routerLink]="link.href"
            routerLinkActive="font-bold"
            class="menu-link text-gray-300 hover:text-white transition-colors duration-300 flex items-center"
          >
            <i class="fas" [ngClass]="link.icon + ' mr-2'"></i>
            <span>{{ link.label }}</span>
          </a>
          }
  
          <!-- <a
            [href]="link.href"
            class="menu-link text-gray-300 hover:text-white transition-colors duration-300 flex items-center"
          >
          </a> -->
          }
        </div>
  
        <!-- CTA Button con icono -->
        <div
          class="hidden md:block relative group ring-1 ring-white rounded-md"
          (click)="logout()"
        >
          <div
            class="absolute -inset-0.5 bg-blue-500 rounded-lg blur opacity-75 group-hover:opacity-100 transition duration-200"
          ></div>
          <button
            class="relative px-6 py-2 bg-blue-900 text-white rounded-lg flex items-center transition-all duration-300 group-hover:bg-blue-700 hover:cursor-pointer"
          >
            Salir
          </button>
        </div>
  
        <!-- Mobile Menu Button -->
        <button
          (click)="toggleMenu()"
          class="md:hidden text-gray-300 hover:text-white focus:outline-none"
        >
          <svg
            *ngIf="!isMenuOpen"
            class="w-8 h-8"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
          <svg
            *ngIf="isMenuOpen"
            class="w-8 h-8"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
      <!--  -->
  
      <!-- Mobile Menu (Hidden by default) -->
      <div
        id="mobile-menu"
        class="mobile-menu md:hidden mt-2"
        [class.open]="isMenuOpen"
      >
        <div class="px-2 pt-2 pb-4 space-y-2">
          @for (link of navLinks; track $index) { @if (role && link.roles.includes(role)) {
          <a

            [routerLink]="link.href"
            routerLinkActive="font-bold"
            class="block px-4 py-3 text-gray-300 hover:text-white hover:bg-blue-700 rounded-lg transition-colors duration-300 flex items-center"
            (click)="closeMenu()"
          >
            <i  class="fas" [ngClass]="link.icon + ' mr-2'"></i>
            <span>{{ link.label }}</span>
          </a>
          } }
          <!-- @for (link of navLinks; track $index) {
          <a
            [href]="link.href"
            class="block px-4 py-3 text-gray-300 hover:text-white hover:bg-blue-700 rounded-lg transition-colors duration-300 flex items-center"
          >
            <i class="fas" [ngClass]="link.icon + ' mr-2'"></i> {{ link.label }}
          </a>
          } -->
  
          <button
            (click)="logout()"
            class="w-full hover:cursor-pointer px-4 py-3 bg-blue-600 text-white rounded-lg flex items-center justify-center mt-2"
          >
            Cerrar Sesión
          </button>
        </div>
      </div>
    </nav>
    
  </header>
  