
<div class="text-2xl font-bold py-8 pl-10">Lista de usuarios:</div>
<div class="py-0 pl-10">
    <div class="flex space-x-3">
      <button class="w-[180px] h-11 text-white text-base cursor-pointer px-0 py-2.5 rounded-lg border-none bg-blue-400">
        Docentes
      </button>
      <button class="w-[180px] h-11 text-white text-base cursor-pointer px-0 py-2.5 rounded-lg border-none bg-blue-700 hover:bg-blue-400">
        Tutores
      </button>
      <button class="w-[180px] h-11 text-white text-base cursor-pointer px-0 py-2.5 rounded-lg border-none bg-blue-700 hover:bg-blue-400">
        Estudiantes
      </button>
    </div>
  </div>


  <div class="flex flex-wrap justify-center bg-gray-100 py-12 gap-6">

    <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
      <div class="flex items-center justify-between space-x-4">
        <div class="flex-shrink-0">
          <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
        </div>
        <div class="flex-1 relative left-[50px]">
          <p><strong>ID:</strong> 123</p>
          <p><strong>Nombre:</strong> user</p>
          <p><strong>Apellido:</strong> nose</p>
          <p><strong>Teléfono:</strong> 123456789</p>
          <p><strong>Correo:</strong> userarroba.com</p>
          <p><strong>Curso:</strong> Mecanica automotriz</p>
        </div>
        <div class="flex flex-col space-y-5">
            <button class="boton1">Editar</button>
          <button class="boton2">Deshabilitar</button>
        </div>
      </div>
    </div>


    <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
        <div class="flex items-center justify-between space-x-4">
          <div class="flex-shrink-0">
            <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
          </div>
          <div class="flex-1 relative left-[50px]">
            <p><strong>ID:</strong> 123</p>
            <p><strong>Nombre:</strong> user</p>
            <p><strong>Apellido:</strong> nose</p>
            <p><strong>Teléfono:</strong> 123456789</p>
            <p><strong>Correo:</strong> userarroba.com</p>
            <p><strong>Curso:</strong> Mecanica automotriz</p>
          </div>
          <div class="flex flex-col space-y-5">
            <button class="boton1">Editar</button>
            <button class="boton2">Deshabilitar</button>
          </div>
        </div>
      </div>


      <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
        <div class="flex items-center justify-between space-x-4">
          <div class="flex-shrink-0">
            <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
          </div>
          <div class="flex-1 relative left-[50px]">
            <p><strong>ID:</strong> 123</p>
            <p><strong>Nombre:</strong> user</p>
            <p><strong>Apellido:</strong> nose</p>
            <p><strong>Teléfono:</strong> 123456789</p>
            <p><strong>Correo:</strong> userarroba.com</p>
            <p><strong>Curso:</strong> Mecanica automotriz</p>
          </div>
          <div class="flex flex-col space-y-5">
            <button class="boton1">Editar</button>
            <button class="boton2">Deshabilitar</button>
          </div>
        </div>
      </div>


      <div class="bg-white p-6 rounded-xl shadow-sm hover-scale w-[650px]">
        <div class="flex items-center justify-between space-x-4">
          <div class="flex-shrink-0">
            <img src="https://i.pinimg.com/736x/73/ce/7d/73ce7d2666204edceb3594eb192ceae0.jpg" alt="Foto" class="w-20 h-auto object-cover">
          </div>
          <div class="flex-1 relative left-[50px]">
            <p><strong>ID:</strong> 123</p>
            <p><strong>Nombre:</strong> user</p>
            <p><strong>Apellido:</strong> nose</p>
            <p><strong>Teléfono:</strong> 123456789</p>
            <p><strong>Correo:</strong> userarroba.com</p>
            <p><strong>Curso:</strong> Ingenieria de software</p>
          </div>
          <div class="flex flex-col space-y-5">
            <button class="boton1">Editar</button>
            <button class="boton2">Deshabilitar</button>
          </div>
        </div>
      </div>


  </div>
